/* ChatUserInfo styles */

.chat-user-info-header {
    display: flex;
    align-items: center;
    background-color: #4A4A4A;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.chat-user-info-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}

.chat-user-info-text {
    margin-left: 15px;
}

.chat-user-info-name {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}

.chat-user-info-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin: 0;
}

/* Other existing styles */
html, body {
    background-color: #FBEED3;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    padding: 0;
}

#root, .Chat-Page, .chat-frame {
    height: 100vh;
}

.header {
    background-color: #000000; /* Negro */
    color: #ffffff;
    text-align: right;
    padding: 7px 0;
    margin: 0%;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Alinea los elementos en extremos opuestos */
    align-items: center;
    height: 80px;
    background-color: #000000; /* Negro */
    padding: 0 20px;
}

.title-container {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.title-container h1 {
    font-size: 35px;
    margin: 20px 10px; 
    color: #FBEED3;
}


.pageLink {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.chats-Container {
    background-color: #000000; /* Negro */
    width: 40%;
    border-right: 0.5px solid #4A4A4A;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

.Chat-Page {
    height: 100%;
}

footer {
    position: fixed;
    font-family: Arial, sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
}

.perfil-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}


.profile-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    background-color: #4A4A4A; /* Gris oscuro */
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.profile-container:hover {
    background-color: #333; /* Un color diferente para el hover */
}


.profile-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container .profile-info {
    margin-left: 15px;
}

.profile-container .profile-info p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.profile-container .profile-info .profile-name {
    font-size: 22px;
    font-weight: bold;
}

.chat-frame {
    display: flex;
    height: calc(100vh - 80px);
}

.chat-Window {
    width: 60%;
    background-color: #fff9f0;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.Window-chat {
    width: 100%;
    background-color: #fff9f0;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.chat-Window-Messages {
    flex: 1;
    overflow-y: auto;
    background-color: #fff9f0;
}

.user-profile-container {
    display: flex;
    align-items: center;
    background-color: #000000; /* Negro */
    padding: 15px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

.user-profile-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile-container .user-profile-info {
    margin-left: 15px;
}

.user-profile-container .user-profile-info p {
    margin: 0;
    font-size: 18px;
    color: #FBEED3;
}

.user-profile-container .user-profile-info .user-profile-name {
    font-size: 22px;
    font-weight: bold;
}

.text-messages {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4A4A4A; /* Gris oscuro */
    border-top: 1px solid #ccc;
}

.button {
    margin-left: 10px;
    cursor: pointer;
}

.messages-bar {
    width: 100%;
    height: 50px;
    border: solid 1px #ffffff;
    outline: none;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
}

.title-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centra el texto "Chat" */
    align-items: center;
}

.title-container h1 {
    font-size: 35px;
    margin: 0; /* Elimina el margen */
    color: #FBEED3;
}

.user-profile-container p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 30px;
}

.Window-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-Window-Messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f0f0f0;
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message.sent {
    align-self: flex-end;
    background-color: #d3c9c1;
    margin-right: 2px;
    margin-left: auto;
}

.message.received {
    align-self: flex-start;
    background-color: #ffffff;
}

.message p {
    margin: 0;
}

.message small {
    margin-top: 5px;
    font-size: 0.8em;
    color: #555;
}

.empty-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
}

.empty-list-container img {
    width: 450px;
    opacity: 0.4;
}

.empty-list-title {
    margin: 0;
    padding: 0;
    color: rgb(251, 238, 211);
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Ajusta la posición de la flecha y el título */
.arrow-icon {
    cursor: pointer;
    margin-left: 20px; /* Espacio para alinear con margen izquierdo */
    color: #ffffff;
    font-size: 24px; /* Tamaño del icono */
}
